<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
    <key>CFBundleIconFile</key>
    <string>prometheus.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleGetInfoString</key>
    <string>2.1.2</string>
    <key>CFBundleVersion</key>
    <string>2.1.2</string>
    <key>CFBundleSignature</key>
    <string>PRMT</string>
    <key>CFBundleExecutable</key>
    <string>prometheus</string>
    <key>CFBundleIdentifier</key>
    <string>com.fullselfbrowsing.prometheus</string>

    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLIconFile</key>
        <string>prometheus.icns</string>
        <key>CFBundleURLName</key>
        <string>http URL</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>http</string>
          <string>https</string>
        </array>
      </dict>
    </array>

    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>html</string>
          <string>htm</string>
          <string>shtml</string>
          <string>xhtml</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>prometheus.icns</string>
        <key>CFBundleTypeName</key>
        <string>HTML Document</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>HTML</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
    </array>

    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleName</key>
    <string>Prometheus</string>
    <key>CFBundleDisplayName</key>
    <string>Prometheus</string>

	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
